{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="wow bounceIn section-title">
                    <h1>welcome to your own Translator</h1>
                    <hr>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                <h2>Our Research Team</h2>
                <h3 class="wow fadeInUp" data-wow-delay="0.8s">Using the latest techniques in low-resource neural
                    machine translation, this free tool was created specifically for
                    minority languages facing extinction threats. We strive to empower indigenous communities through
                    language preservation
                    technology.</h3>
                <p class="wow fadeInUp" data-wow-delay="0.4s">A low resource language Tawra, is spoken by around 3,000
                    Tawra people but risks fading away like many regional languages and
                    dialects. To help
                    preserve Tawra and make it more accessible, we have developed this AI-powered translator.</p>
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.4s">
                <div class="about-thumb">
                    <img src="{{url_for('static', filename='img/team-img1.jpg')}}" class="img-responsive" alt="Team">
                    <div class="about-overlay">
                        <h3>Sandar Lynn</h3>
                        <h4>UI Designer</h4>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.4s">
                <div class="about-thumb">
                    <img src="{{url_for('static', filename='img/team-img2.jpg')}}" class="img-responsive" alt="Team">
                    <div class="about-overlay">
                        <h3>Candy </h3>
                        <h4>UX Specialist</h4>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}