<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div>
            <select>
                <option value="Language">Select Language</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
            </select>
            <textarea placeholder="Enter text to translate"></textarea>
        </div>
        <div>
            <select>
                <option value="Detect Language">Detect Language</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 1</option>
                <option>Option 2</option>
            </select>
            <textarea readonly></textarea>
        </div>
    </div>
</body>

</html>