{% extends "nav_bar.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="idx_div1">
    <form action="/translate" METHOD="POST">
        <div id="idx_div2">
            <select>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
            <!-- the event.keyCode==13 functions as
                 the user type text in textarea and press enter, 
                 then the automatically get translated -->
            <textarea name="textToTranslate" id="idx_inputText1" placeholder="Enter text to translate" required
                onkeydown="if (event.keyCode==13) this.form.submit()"></textarea>
        </div>
        <div>
            <div>
                <select>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                </select>
                <textarea id="output-text" placeholder="Translated text will appear here"
                    readonly>{{dest_text}}:{{dest_pronunciation}}</textarea>
            </div>
        </div>
    </form>
</div>
{% endblock %}