{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<!-- Pricing Section -->

<section id="pricing">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1>App Pricing</h1>
                    <hr>
                </div>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.4s">
                <div class="pricing-plan">
                    <div class="pricing-month">
                        <h2>$60</h2>
                    </div>
                    <div class="pricing-title">
                        <h3>Starter</h3>
                    </div>
                    <p>40 Users</p>
                    <p>10GB per user</p>
                    <p>Unlimited Support</p>
                    <p>1 Year License</p>
                    <button class="btn btn-default section-btn">Register now</button>
                </div>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
                <div class="pricing-plan">
                    <div class="pricing-month">
                        <h2>$120</h2>
                    </div>
                    <div class="pricing-title">
                        <h3>Business</h3>
                    </div>
                    <p>100 Users</p>
                    <p>20GB per user</p>
                    <p>Unlimited Support</p>
                    <p>2 Years License</p>
                    <button class="btn btn-default section-btn">Register now</button>
                </div>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.8s">
                <div class="pricing-plan">
                    <div class="pricing-month">
                        <h2>$200</h2>
                    </div>
                    <div class="pricing-title">
                        <h3>Advanced</h3>
                    </div>
                    <p>200 Users</p>
                    <p>30GB per user</p>
                    <p>Unlimted Support</p>
                    <p>3 Years License</p>
                    <button class="btn btn-default section-btn">Register now</button>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}