{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
<!-- {% set detect_lang = detected %} -->
{%block content %}
<form action="/translate" METHOD="POST">
    <div class="body">
        <div class="container-translator">
            <div class="wrapper-translator">
                <div class="text-input">
                    <textarea name="textToTranslate" spellcheck="false" class="from-text"
                        placeholder="Enter text to translate" onkeydown="if(event.keyCode==13) {this.form.submit()}"
                        required>{% if user_input %}{{user_input}}{% endif %}</textarea>
                    <textarea spellcheck="false" readonly disabled class="to-text"
                        placeholder="Translated text will appear here...">{{translation}}</textarea>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}